@import url(base.css);

body {
    background-color: white;
}

#content {
    padding: 1%;
    width: 98%;
}

#topFoto {
    max-width: 100%;
    max-height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, h2, p {
    clear: left;
}

.emphasized {
    font-weight: bold;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", 'Balthazar', serif;
    margin-bottom: 0%;
}

h2 {
    font-family: "Myriad Pro", "PT Sans", Helvetica, sans-serif;
    font-size: medium;
    color: grey;
}

h3 {
    font-family: "Myriad Pro", "PT Sans", Helvetica, sans-serif;
    font-size: small;
    color: grey;
}

a {
    /*links in Agon-blauw*/
    color: #1B2EA1;
}

.error {
    color: red;
}
