@import url(contentBase.css);

form {
    max-width: 960px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
}

input {
    float: right;
}

.textInput {
    width: 40%;
    min-width: 10em;
}
