@import url(contentBase.css);

form {
    max-width: 960px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
}

.textInput {
    float: right;
    width: 40%;
    min-width: 10em;
}

#formAlt {
    display: none;
}
