@import url("contentBase.css");
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Balthazar);

img {
    max-height: 100%;
}

@media only screen and (min-width: 900px) {
    .smallImage {
        max-width: 8%;
    }

    .mediumImage {
        max-width: 17%;
    }

    .wideImage {
        max-width: 50%;
    }
}

@media not screen and (min-width: 900px) {
    img {
        max-width: 100%;
    }
}
