@import url(contentBase.css);

video {
    margin: 0% 0% 1% 1%;
}

@media only screen and (min-width: 900px) {
    video {
        width: 48.5%;
    }
}

@media not screen and (min-width: 900px) {
    video {
        width: 100%;
    }
}

.clearFloat {
    clear: both;
}
