@import url(base.css);
@import url(https://fonts.googleapis.com/css?family=Stardos+Stencil);

body {
    /*TODO downsize photo*/
    background-image: url(/test/images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: #1B2EA1;
    text-align: center;
}

h1 {
    font-family: "Stardos Stencil", serif;
    font-size: 700%;
    color:white;
    width: 100%;
    position: absolute;
    top: 15%;
}

#shield {
    height: 40%;
    visibility: hidden;
    position: absolute;
    top: 40%;
}

#downArrow {
    height: 10%;
    visibility: hidden;
    position: absolute;
    top: 85%;
}
