<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>nl.asrvagon.EmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/emailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SECURE_CONNECTION_REQUIRED</web-resource-name>
            <url-pattern>/index.html</url-pattern>
            <url-pattern>/login</url-pattern>
            <url-pattern>/pages/contact/contactformulier.html</url-pattern>
            <url-pattern>/pages/vereniging/wordLid.html</url-pattern>
            <url-pattern>/pages/fyli/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <!--TODO log in systeem maken
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AUTHENTICATION_REQUIRED</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>lid</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-role>
        <role-name>lid</role-name>
    </security-role>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/login?failed</form-error-page>
        </form-login-config>
    </login-config>
    -->
</web-app>
